{
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,

  "arrowSpacing": true,

  "vueIndentScriptAndStyle": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto",

  "indent_size": 4,
  "indent_char": " ",
  "css": {
    "indent_size": 2
  }
}
